{% extends "forum/forum_nav.html" %}

{% block forum_content %}

    <h2>{{ category.name }}</h2>

    {% if user.is_authenticated %}
        <a href="{% url 'create_thread' category.id %}" class="button">➕ Отвори тема</a>
    {% endif %}

    <div class="thread-list">
        {% for thread in threads %}
            <div class="thread-card">
                <h3><a href="{% url 'thread_detail' thread.id %}">{{ thread.title }}</a></h3>
                <p>Created by {{ thread.created_by.first_name }} {{ thread.created_by.last_name }}</p>
                <small>Last activity: {{ thread.last_activity }}</small>
                <span class="views">👁️ {{ thread.views }} views</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
