{% extends "forum/forum_nav.html" %}

{% block forum_content %}
<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-secondary text-white">
            <h5 class="mb-0">Поискай отваряне на тема за: <strong>{{ category.name }}</strong></h5>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ request_form }}
                <button type="submit" class="btn btn-primary">📤 Пусни искане</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
