{% extends "base.html" %}

{% block content %}
   <h2>Всички покупки</h2>
<table>
    <tr>
        <th>Дата</th>
        <th>Магазин</th>
        <th>Общо</th>
        <th>Действия</th>
    </tr>
    {% for shopping in page_obj.object_list %}
    <tr>
        <td>{{ shopping.date }}</td>
        <td>{{ shopping.shop.name }}</td>
        <td>{{ shopping.total_amount }} лв</td>
        <td>
            <a href="{% url 'edit_shopping' shopping.id %}">✏️ Редактирай</a>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">⏪ Първа</a>
        <a href="?page={{ page_obj.previous_page_number }}">⬅️ Предишна</a>
    {% endif %}

    <span>Страница {{ page_obj.number }} от {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Следваща ➡️</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">⏩ Последна</a>
    {% endif %}
</div>



{% endblock %}
