{% extends "base.html" %}
{% block content %}

    {% if weather_error %}
  <div class="alert alert-warning mt-3">
    ⚠️ {{ weather_error }}
  </div>
{% endif %}

    {% if weather_data %}
<div class="container mt-3">




  <div class="card shadow-sm">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div>
            <form method="get" action="{% url 'set_location' %}" class="d-flex align-items-center mb-2" style="max-width: 300px;">
    <input type="text" name="location" class="form-control form-control-sm me-2" placeholder="Въведи град..." required>
  <button type="submit" class="btn btn-outline-primary btn-sm">Промени</button>
</form>
          <h6 class="card-title mb-1">
            {{ now|date:"d M, H:i" }} – {{ weather_data.location.name }}
          </h6>
          <p class="mb-0">
            🌡️ {{ weather_data.current.temp_c }}°C, {{ weather_data.current.condition.text }}
            <img src="{{ weather_data.current.condition.icon }}" alt="Weather icon">
          </p>
        </div>
        <div class="d-flex gap-3 flex-wrap">
          {% for day in weather_data.forecast.forecastday|slice:":3" %}
          <div class="text-center">
            <a href="{% url 'detailed-forecast' day.parsed_date|date:'Y-m-d' %}" class="text-decoration-none text-dark">
              <strong>{{ day.parsed_date|date:"d M" }}</strong><br>
              <small>min {{ day.day.mintemp_c }}°C<br>
              max {{ day.day.maxtemp_c }}°C</small><br>
              {{ day.day.condition.text }}<br>
              <img src="{{ day.day.condition.icon }}" alt="Icon"><br>
              🌧️{{ day.day.daily_chance_of_rain }}%
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

    <div class="section-container">
    <a href="{% url 'shopping' %}" class="section-card">
        🛍️ Пазаруване
    </a>

    <a href="{% url 'inventory' %}" class="section-card">
        🏬 Наличности
    </a>

    <a href="{% url 'recipe_list' %}" class="section-card">
        🥣 Сготви
    </a>

    <a href="{% url 'finance_home' %}" class="section-card">
        💰 Пари
    </a>

    <a href="{% url 'entertainment_home' %}" class="section-card">
        🏝️🍹⛱️🌞 🌊 Забавление
    </a>
    <a href="{% url 'forum_home' %}" class="section-card">
        🗪 Форум
    </a>
</div>

{% endblock %}
