{% extends 'base.html' %}

{% block content %}

    <nav class="nav nav-pills mb-4 justify-content-center">
    <a class="nav-link" href="{% url 'finance_home' %}">📊 Начало</a>
        <a class="nav-link" href="{% url 'trade' %}">💱 Търговия</a>
        <a class="nav-link" href="{% url 'invest' %}">🌱 Инвестиции</a>
    <a class="nav-link" href="{% url 'news' %}">📰 Новини</a>
    <a class="nav-link" href="{% url 'markets' %}">💹 Пазари</a>
    <a class="nav-link" href="{% url 'portfolio' %}">💼 Портфейл</a>
    <a class="nav-link" href="{% url 'screener' %}">🔍 Радар</a>
  </nav>





    <div class="text-center mb-3" id="server-status">
    {% if server_status == "invest" %}
  <span class="badge bg-success">🟢 Server is online (🌱 Invest)</span>
{% elif server_status == "trade" %}
  <span class="badge bg-warning">🟢 Server is online (💱 Trade)</span>
{% else %}
  <span class="badge bg-danger">🔴 Server is offline</span>
{% endif %}
</div>


    {% block finance_navigation %}

        {% endblock %}

{% endblock %}