{% extends "base.html" %}

{% block content %}
    <div class="finance-nav">
        <a href="{% url 'finance_home' %}">Начало</a>
        <a href="{% url 'news' %}">Новини</a>
        <a href="{% url 'markets' %}">Пазари</a>
        <a href="{% url 'portfolio' %}">Портфейл</a>
        <a href="{% url 'screener' %}">Радар</a>
    </div>

    <form method="GET">
        <label for="ticker">Новини за символ:</label>
        <input type="text" name="ticker" id="ticker" placeholder="Напр. AAPL, MSFT">
        <button type="submit">Търсене</button>
    </form>
    {% if news %}
        {% if ticker %}
            <h3>Новини за: {{ ticker }}</h3>
            {% else %}
            <h2>Новини</h2>
        {% endif %}

    <div class="news-container">

    <div class="news-list">
        {% for article in news %}
            <div class="news-card">
                <img src="{{ article.image_url }}" alt="News Image">
                <h3><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h3>
                <p>{{ article.description }}</p>
                <p><small>Published: {{ article.published_at }}</small></p>
                <p><small>Source: {{ article.source }}</small></p>
            <span class="sentiment">
        {% if article.sentiment_score %}
            Sentiment: {{ article.sentiment_score }}
        {% else %}
            Sentiment: N/A
        {% endif %}
    </span>
            </div>
        {% endfor %}
    {% else %}
    <p>Няма намерени новини.</p>
{% endif %}
    </div>
    </div>
{% endblock %}
